{% extends "navbar_cz.html" %}

{% block content %}

<div >
    <div class="container" style="width: 1210px;margin-top: 10px;display: grid;justify-content: center;">
        <div class="jumbotron my-auto" style="width: max-content; background-color: floralwhite;">
            <div class="container" style="width: max-content;    min-width: 920px;">
                <h2 style="text-align: -webkit-center;">Porovnávání</h2>
                <p style="text-align: -webkit-center;">Vyber obrázek, který je lepší pro danou otázku. Můžeš použít klávesové zkratky, ↑ pro horní orázek a ↓ pro dolní obrázek.</p>


                <div class="container" style="width: max-content;min-width: 920px;">
                        <div style="display: flex; margin-right: 10px; width: 100%;">
                            <input id="{{ i }}" onclick="stop()" value="Lepší" name="{{ i }}" type="submit" class="btn btn-success  btn-lg" style="margin:5px; margin-bottom: 5px; box-shadow: 0 0px 5px 3px rgb(21, 150, 0);"  disabled />
                            <img id="img__{{ i }}" style="border-radius: 6px; min-width: 800px; max-width: 800px;width: 100%;margin-top: 5px;" class="img-rounded" src="/static/images/1.jpg" alt="Image for annotation">

                        </div>
                        <div style="display: flex; margin-right: 10px; width: 100%;">
                            <input id="{{ i }}" onclick="stop()" value="Lepší" name="{{ i }}" type="submit" class="btn btn-success  btn-lg" style="margin:5px; margin-bottom: 5px;" disabled/>
                            <img id="img__{{ i }}" style="border-radius: 6px; min-width: 800px; max-width: 800px;width: 100%;margin-top: 5px;" class="img-rounded" src="/static/images/4.jpg" alt="Image for annotation">
                        </div>
                </div>

                <div style="margin: auto; display: block; margin-top: 20px;">
                <a href="/comparing/{{ set }}" style="color:inherit;text-decoration: none; ">  
                    <button type="button" class="btn btn-success" style="width: -webkit-fill-available;" >Start</button>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
