{% extends "navbar.html" %}

{% block content %}

<div >
    <div class="container" style="width: 1210px;margin-top: 10px;display: grid;justify-content: center;">
        <div class="jumbotron my-auto" style="width: max-content;">
            <div class="container"><!--
                <h2>PERO - Readability assessment annotator</h2>
                <p>Choose the more readable image from this pair.</p>-->
                <div style="display: flex">
                {% for image_for_annotation in images_for_annotation %}
                    <div style="display: grid; margin-right: 10px">
                        <button style="margin:5px; margin-bottom: 10px;" type="button" class="btn btn-secondary">Better</button>
                        <img class="img-rounded" src="{{ url_for('send_file', filename=image_for_annotation) }}" alt="Image for annotation" style="border-radius: 6px;">
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}