{% extends "bootstrap/base.html" %}

{% block content %}

<div style="height: -webkit-fill-available; display: flex; align-items: center;">
    <div class="container h-100 d-flex" style="width: 1210px;">
        <div class="jumbotron my-auto">
            <div class="container">
                <h2>PERO - Readability assessment annotator</h2>
                <p>Choose mode in which you want to annotate data to help researchers from Brno University of Technology.</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Modes
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/comparing_sets">comparing</a></li>
                        <li><a href="/ordering_sets">ordering</a></li>
                        <li><a href="/rating_sets">rating</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
