{% extends "navbar.html" %}

{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    #sortable { list-style-type: none; margin: 0; padding: 1px; width: 450px; }
    #sortable li { margin-right: 10px; padding: 1px; float: left; width: 241px; height: 90px; font-size: 4em; }
</style>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="/static/js/time.js"></script>
<script src="/static/js/order.js"></script>

<script>
setTimeout(function(){
    var size = String(document.getElementById("img_1").width+2).concat("px");
    document.styleSheets[2].cssRules[1].style["width"] = size;
}, 50);
</script>
<script>
function capture(e){
    var evt = e || window.event; 
    if(evt.keyCode==13){
        document.getElementById('1').click();
        }
    }
document.onkeyup=capture
</script>

<div>
    <div style="margin-top: 10px;display: grid;justify-content: center;max-width: none !important;">
        <div class="jumbotron my-auto" style="width: max-content; background-color: floralwhite;">
            <div class="container" style="max-width: none !important;">
                <form action = "{{ request.path }}" method = "post">
                    <input id="1" style="margin-top: -10px; margin-bottom: 7px;" value="Done" name="submit_button" type="submit" class="btn btn-secondary"/>
                    <input id="hour" value="00" name = "hour" type = "text" style="display: none;"/>
                    <input id="min" value="00" name = "min" type = "text" style="display: none;"/>
                    <input id="sec" value="00" name = "sec" type = "text" style="display: none;"/>
                    <input id="milisec" value="00" name = "milisec" type = "text" style="display: none;"/>
                    <input value="{{record_id}}" name = "record" type = "text" style="display: none;"/>
                    <input id="order" value="" name = "order" type = "text" style="display: none;"/>
                </form>
                <ul style="display: contents;  margin-bottom: 10px;width: max-content;" id="sortable">

                {% for i, record_crop in record_crops %}
                    <li id="{{ i }}"  style="display: grid; margin-right: 10px; width: max-content; height: max-content; ">
                        <img id="img_{{ i }}" type="image"  class="img-rounded" style="width: 341px;border-radius: 6px;" src="{{ url_for('get_crop', crop_id=record_crop.crop_id) }}" alt="Image for annotation"/>
                    </li>
                {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
