{% extends "bootstrap/base.html" %}

{% block content %}

<div style="height: -webkit-fill-available; display: flex; align-items: center;">
    <div class="container h-100 d-flex" style="width: 1210px;">
        <div class="jumbotron my-auto">
            <div class="container">
                <h2>PERO - Readability assessment annotator</h2>
                <p>List of current sets for annotation in ordering mode.</p>
                <div class="list-group">
                    {% for set in sets %}
                        <button type="button" class="list-group-item list-group-item-action">{{ set.name }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}