{% extends "navbar_cz.html" %}

{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    #sortable { list-style-type: none; margin: 0; padding: 1px; width: 450px; }
    #sortable li { margin-right: 10px; padding: 1px; float: left; width: 241px; height: 90px; font-size: 4em;}
</style>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="/static/js/time.js"></script>
<script src="/static/js/order.js"></script>
<script src="/static/js/user.js"></script>

<script>
setTimeout(function(){
    var size = String(document.getElementById("img_1").width+2).concat("px");
    document.styleSheets[2].cssRules[1].style["width"] = size;
}, 50);
</script>
<script>
function capture(e){
    var evt = e || window.event; 
    if(evt.keyCode==13){
        document.getElementById('button').click();
        }
    if(evt.keyCode==32){
        document.getElementById('button').click();
        }
    }
document.onkeyup=capture
</script>

<script>
function yourFunction(){
    document.getElementById("image_size").value = document.getElementById("img_1").width + " x " + document.getElementById("img_1").height;
}

window.onload = yourFunction;
</script>

<div style="float: left;margin-left: 20px;">
    <div style="margin-top: 10px;display: grid;justify-content: center;max-width: none !important;">
        <div class="jumbotron my-auto" style="width: max-content; background-color: floralwhite;">
            <div>
                <div style="font-size: larger;    margin-left: 16px;text-shadow: 2px 2px 10px #1e8222;">
                    nejlépe čitelný
                </div>
                <div style="float: right !important; margin-top: -28px; margin-right: 28px; font-size: larger;text-shadow: 2px 2px 10px #730000;">
                    nejhůře čitelný
                </div>
            </div>
            <div class="container" style="max-width: none !important;">
                <ul style="display: contents;  margin-bottom: 10px;width: max-content;" id="sortable">
                {% for i, record_crop in record_crops %}
                    <li id="{{ i }}"  style="display: grid; margin-right: 10px; width: max-content; height: max-content; ">
                        <img id="img_{{ i }}" type="image"  class="img-rounded" style="max-width: 341px; border-radius: 6px;margin-bottom: 10px;" src="{{ url_for('main.get_crop', crop_id=record_crop.crop_id) }}" alt="Image for annotation"/>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div>
                <form action = "{{ request.path }}" method = "post">
                    <input id="button" style="margin-top: 10px; margin-bottom: 7px; margin-right: 400px;    margin-left: 16px;" value="Seřazeno" name="submit_button" type="submit" class="btn btn-success btn-block btn-lg"/>
                    <input id="hour" value="00" name = "hour" type = "text" style="display: none;"/>
                    <input id="min" value="00" name = "min" type = "text" style="display: none;"/>
                    <input id="sec" value="00" name = "sec" type = "text" style="display: none;"/>
                    <input id="milisec" value="00" name = "milisec" type = "text" style="display: none;"/>
                    <input value="{{record_id}}" name = "record" type = "text" style="display: none;"/>
                    <input id="os" value="" name = "os" type = "text" style="display: none;"/>
                    <input id="browser" value="" name = "browser" type = "text" style="display: none;"/>
                    <input id="mobile" value="" name = "mobile" type = "text" style="display: none;"/>
                    <input id="screen_size" value="" name = "screen_size" type = "text" style="display: none;"/>
                    <input id="order" value="" name = "order" type = "text" style="display: none;"/>
                    <input id="browser_size" value="" name = "browser_size" type = "text" style="display: none;"/>
                    <input id="image_size" value="" name = "image_size" type = "text" style="display: none;"/>
                </form>

                <p style="    margin-top: 10px; margin-left: 16px;">
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Nápověda
                  </a>
                </p>
                <div class="collapse" id="collapseExample" style="    max-width: 1280px; margin-left: 16px;">
                  <div class="card card-body">
                    Seřaď obrázky pomocí tažení myší z leva (nejlépe čitelný) do prava (nejhůře čitelný). Můžeš použít enter nebo mezerník pro potvrzení seřazení.
                  </div>
                </div>

            </div>





        </div>
    </div>
</div>

{% endblock %}
