{% extends "navbar.html" %}

{% block content %}

<div>
    <div class="container" style="width: 1210px;margin-top: 10px;display: grid;justify-content: center;">
        <div class="jumbotron my-auto" style="width: max-content;">
            <div class="container"><!--
                <h2>PERO - Readability assessment annotator</h2>
                <p>Rate image on scale from one to ten, where one is the the most readable and ten is the least readable.</p>-->
                <div style="margin-bottom: 13px;">
                    <button type="button" class="btn btn-success">1</button>
                    <button type="button" class="btn btn-secondary">2</button>
                    <button type="button" class="btn btn-secondary">3</button>
                    <button type="button" class="btn btn-secondary">4</button>
                    <button type="button" class="btn btn-secondary">5</button>
                    <button type="button" class="btn btn-secondary">6</button>
                    <button type="button" class="btn btn-secondary">7</button>
                    <button type="button" class="btn btn-secondary">8</button>
                    <button type="button" class="btn btn-secondary">9</button>
                    <button type="button" class="btn btn-danger">10</button>
                </div>
                <img class="img-rounded" src="{{ url_for('send_file', filename=image_for_annotation) }}" alt="Image for annotation">

            </div>
        </div>
    </div>
</div>

{% endblock %}
