{% extends "bootstrap/base.html" %}

{% block content %}

<div style="height: -webkit-fill-available; display: flex; align-items: center;">
    <div class="container h-100 d-flex" style="width: 1210px;">
        <div class="jumbotron my-auto">
            <div class="container">
                <h2>PERO - Readability assessment annotator</h2>
                <p>Rate image on scale from one to ten, where one is the the most readable and ten is the least readable.</p>
                <div style="margin-bottom: 13px;">
                    <button type="button" class="btn btn-success">1</button>
                    <button type="button" class="btn btn-secondary">2</button>
                    <button type="button" class="btn btn-secondary">3</button>
                    <button type="button" class="btn btn-secondary">4</button>
                    <button type="button" class="btn btn-secondary">5</button>
                    <button type="button" class="btn btn-secondary">6</button>
                    <button type="button" class="btn btn-secondary">7</button>
                    <button type="button" class="btn btn-secondary">8</button>
                    <button type="button" class="btn btn-secondary">9</button>
                    <button type="button" class="btn btn-danger">10</button>
                </div>
                <img class="img-rounded" src="{{ url_for('send_file', filename=image_for_annotation) }}" alt="Image for annotation">
                <div style="margin-top: 13px;">
                    <a href="/" style="color:inherit;text-decoration: none;">  
                        <button type="button" class="btn btn-secondary">Change mode</button>
                    </a>
                    <button type="button" class="btn btn-secondary">Change set</button>
                    <button type="button" class="btn btn-secondary">Previous image</button>
                    <button type="button" class="btn btn-secondary">Next image</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
